.mat-mdc-menu-item {
  font-size: 0.875rem !important;
  min-height: 32px !important;
  line-height: 32px !important;
  padding: 0 16px !important;

}
.mat-mdc-menu-ripple {
    height: 32px !important;
}