<div class="flex">
  <mat-form-field appearance="fill">
    <mat-label>Choose Status</mat-label>
    <mat-select (selectionChange)="onChoiceChange($event)">
      <mat-option *ngFor="let choice of selctionChoice" [value]="choice">
        {{ choice }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="add-btn" mat-flat-button color="primary" (click)="addUser()">
    Add Admin
  </button>
</div>

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 20, 100]"
  [showFirstLastButtons]="true"
  (page)="loadPaginatedUsers($event)"
>
</mat-paginator>
<angular-slickgrid
  gridId="users-list-grid"
  [columnDefinitions]="columnDefinitions"
  (onAngularGridCreated)="angularGridReady($event)"
  [gridOptions]="gridOptions"
  [dataset]="dataset"
>
</angular-slickgrid>
