@if (!data.restaurant) {
  <h2 mat-dialog-title>Add New Restaurant</h2>
}
@if (data.restaurant) {
  <h2 mat-dialog-title>Update Restaurant</h2>
}

<form [formGroup]="addRestaurantForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Restaurant Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter restaurant name">
      @if (addRestaurantForm.get('name')?.hasError('required')) {
        <mat-error>
          Name is required
        </mat-error>
      }
      @if (addRestaurantForm.get('name')?.hasError('maxLength')) {
        <mat-error>
          Name cannot exceed 100 characters
        </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" class="cancel" (click)="onCancel()"> <mat-icon>cancel</mat-icon> Cancel</button>
    <button mat-raised-button class="confirm" color="primary" type="submit" [disabled]="addRestaurantForm.invalid">
      Submit
      <mat-icon>save</mat-icon>
    </button>
  </mat-dialog-actions>

</form>
