.restaurant-list-container {
  padding: 20px;
  min-height: 100vh;
}

table {
  width: 100%;
  box-shadow: none;
}

.mat-paginator {
  align-self: flex-end;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.active-status {
  //TODO: change with the theme config
  color: green;
}

.inactive-status {
  color: red;
}

tr{
  cursor: pointer;
}
