@use '@angular/material' as mat;
@use '../../../../assets/Theme/theme' as theme;

.restaurant-container{
  background-color: mat.get-color-from-palette(theme.$my-theme-primary, 100);
}


.restaurant-list-container {
  padding: 20px;
}

table {
  width: 100%;
  box-shadow: none;
}

.no-bg{
  background-color: transparent;
}

.mat-paginator {
  align-self: flex-end;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.active-status {
  //TODO: change with the theme config
  color: green;
}

.inactive-status {
  color: red;
}

tr{
  cursor: pointer;
}
