.restaurant-list-container {
  padding: 20px;
  min-height: 100vh;
  background-color: rgb(218 236 214);
}

// .restaurant-list-container {
//   padding: 3rem;
//   min-height: 100vh;
//   background-color: #f1f5f9;
// }

table {
  width: 100%;
  box-shadow: none;
}

.table-and-paginator{
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
}
.mat-paginator {
  align-self: flex-end;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-btn{
  background-color: rgb(99, 150, 111);
  // background-color: rgb(28 36 52);
  color: white;
  padding: 1.3rem;
}

.active-status {
  color: green;
}

.inactive-status {
  color: red;
}

tr{
  cursor: pointer;
}

