.mat-dialog {
  max-width: 300px;
}

.cancel{
  color: white;
  background-color: black;
}

.confirm{
  color: white;
  background-color: rgb(255, 152, 0);
}

.btns{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
