<div class="min-h-screen bg-gray-100 py-10">
  <div class="max-w-5xl mx-auto px-4">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <div class="flex items-center justify-between mb-6">
        <h1 class="text-2xl font-bold mb-6 text-gray-800">Table Order</h1>

        <!-- Action Buttons -->
        <div class="flex space-x-4 mb-6" *ngIf="myOrders.length > 0">
          <!-- <button
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition"
            (click)="printBill()"
          >
            Print Bill
          </button> -->
          <button
            class="border bg-white text-orange-400 px-4 py-2 rounded hover:bg-orange-100 transition border-orange-400"
            (click)="markAsPaid()">
            Mark as Paid
          </button>
        </div>
      </div>
      <!-- Orders -->
      <div *ngIf="myOrders.length > 0; else emptyCart" class="space-y-6">
        <div *ngFor="let order of myOrders" class="border border-gray-200 rounded-lg p-4 bg-gray-50 shadow-sm">
          <h5 class="text-lg font-semibold mb-4">
            Order Status:
            <span class="px-2 py-1 rounded-full text-sm font-medium" [ngClass]="{
                'border border-green-8000 bg-green-100 text-green-800': order.status === 'PAID',
                'border border-yellow-800 bg-yellow-100 text-yellow-800': order.status === 'PENDING',
                'border border-red-800 bg-red-100 text-red-800': order.status === 'CANCELLED',
                'border border-gray-800 bg-gray-100 text-gray-800': order.status === 'SERVED'
              }">
              {{ getOrderStatusName(order.status) }}
            </span>
          </h5>

          <div *ngFor="let item of order.items" class="flex items-start space-x-4 mb-4">
            <img class="w-20 h-20 rounded-lg object-cover" [src]="getImageUrl(item.menuItem.image)" alt="Item Image"
              (error)="onImageError($event)" />

            <div class="flex-1">
              <h4 class="text-lg font-semibold text-gray-800">
                {{ item.menuItem.name }}
              </h4>
              <p class="text-gray-500 text-sm mb-2">
                {{ item.menuItem?.ingredients }}
              </p>

              <div class="flex items-center justify-between text-gray-700 mb-2">
                <span class="font-medium">{{ item.menuItem.price }} {{ item.menuItem?.currency }}</span>
                <span class="text-sm">Qty: {{ item.quantity }}</span>

                <div class="flex space-x-2">
                  <button class="text-orange-400 hover:text-orange-600" (click)="openEditModal(item)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button class="text-red-500 hover:text-red-600" (click)="removeItem(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

              <div *ngIf="item.specialInstructions" class="text-gray-600 text-sm italic">
                <strong>Special Instructions:</strong>
                {{ item.specialInstructions }}
              </div>
            </div>
          </div>

          <!-- Order Summary -->
          <div class="flex items-center justify-between border-t border-gray-200 pt-4 mt-4">
            <h3 class="text-lg font-bold">
              Total: {{ getTotal(order.items) }}
              {{ order.items[0].menuItem?.currency }}
            </h3>
            <button class="bg-orange-400 text-white px-4 py-2 rounded hover:bg-orange-600 transition"
              (click)="openAddMenuItemModal(order.id)">
              Add New Item
            </button>
          </div>
        </div>
      </div>

      <!-- Empty Cart -->
      <ng-template #emptyCart>
        <p class="text-gray-500 text-center py-6">
          The table does not have any active orders right now.
        </p>
      </ng-template>
    </div>
  </div>
</div>