<h1 mat-dialog-title *ngIf="!data.stock">Add Stock Item</h1>
<h1 mat-dialog-title *ngIf="data.stock">Update Stock Item</h1>
<form [formGroup]="stockForm" (ngSubmit)="onSubmit()">

<div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Drink Name</mat-label>
      <input matInput formControlName="drinkName" required>
      <mat-error *ngIf="stockForm.get('drinkName')?.hasError('required')">
        Drink Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" required>
      <mat-error *ngIf="stockForm.get('price')?.hasError('required')">
        Price is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" formControlName="quantity" required>
      <mat-error *ngIf="stockForm.get('quantity')?.hasError('required')">
        Quantity is required
      </mat-error>
    </mat-form-field>

    <div class="file-upload">
      <mat-label>Image</mat-label>
      <input type="file" (change)="onFileChange($event)" required>
      <mat-error *ngIf="!imageFile">
        Image is required
      </mat-error>
    </div>
</div>
</form>
<div mat-dialog-actions align="end">
  <button mat-button class="cancel" (click)="onNoClick()">  <mat-icon>cancel</mat-icon> Cancel</button>
  <button mat-button class="confirm" color="primary" type="submit" (click)="onSubmit()"> Submit
    <mat-icon>save</mat-icon></button>
</div>
