@use '@angular/material' as mat;
@use '../../../../../src/assets/Theme/theme' as theme;

.login-container{
  background-color: mat.get-color-from-palette(theme.$my-theme-primary, 100);
}

.login-form {
  margin: 5rem auto;
  max-width: 450px;
}

.login-fields {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
  gap: 1.5rem;
}
.forget {
  margin-left: 5px;
}
