
.login-form {
  margin: 5rem auto;
  max-width: 450px;
}

.login-fields {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
  gap: 1.5rem;
}
.forget {
  margin-left: 5px;
}


.add-btn{
  // background-color: rgb(60 80 224);
  background-color: rgb(99, 150, 111);
  color: white;
}
