<div class="container">
  <div class="header">
    <h1>Our Tables</h1>
  <button *appHasRole="[hasManagerRole()]" (click)="openAddTableDialog()" class="add-btn" mat-flat-button><mat-icon>add</mat-icon>
    Add Table</button>
  </div>
  <div class="menu-section">
    <div class="menu-grid">
      <div class="menu-item" *ngFor="let table of tables">
        <img [src]="table.qrCodeImage" alt='QR Code'>
        <div class="menu-info">
         <div class="no-and-status">
          <h3>Table number: {{ table.number }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
         </div>
         <!-- <mat-chip>{{table.status}}</mat-chip> -->
         <span [ngClass]="table.status === 'AVAILABLE' ? 'active' : 'inactive'">
          {{ table.status }}
        </span>

          <mat-menu #menu>
            <button *appHasRole="[hasManagerRole()]" mat-menu-item color="primary" (click)="openEditRestaurantDialog(table,  $event)">
              <mat-icon>edit</mat-icon>
              Update
            </button>
            <button *appHasRole="[hasManagerRole()]" mat-menu-item color="warn" (click)="deleteRestaurant(table.id,  $event)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
            <button *appHasRole="[hasManagerRole(), hasWaiterRole()]" (click)="viewTableOrders(table.id)" mat-menu-item><mat-icon>receipt</mat-icon>View Orders</button>
            <button *appHasRole="[hasManagerRole()]" (click)="downloadQRCode(table.id, table.number)" mat-menu-item><mat-icon>download</mat-icon>Qr Code</button>
          </mat-menu>
        </div>

      </div>
    </div>
  </div>

  <div class="empty container" *ngIf="tables.length === 0">
    You don't have any tables yet.
  </div>
</div>
