<div class="mobile-navigation" [ngClass]="{ 'open': isOpen, 'close': !isOpen }">
  <button class="close-btn" (click)="close()">&#10005;</button>

  <div class="drawer-content">
    <img class="logo" src="assets/logo2.jpeg" alt="Digital Dine Logo">
    @for (link of navLinks; track link) {
      <div>
        <a
          class="menu-button"
          mat-button
          [routerLink]="link.link"
          [routerLinkActive]="['is-active']"
          >
          <mat-icon>{{ link.icon }}</mat-icon>
          <span>{{ link.label }}</span>
        </a>
      </div>
    }
  </div>
