.mat-dialog {
  max-width: 400px;
}

.warning-text {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 0.25rem;
  color: #000;
}

.bg-warning {
  background-color: #ffe082;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mx-1 {
  margin: 0 0.5rem;
}

.my-1 {
  margin: 1rem 0;
}

.font-bold {
  font-weight: bold;
}

.full-width-input {
  width: 94%;
}

.input-style {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.w-500 {
  width: 500px;
}

.w-full {
  width: 100%;
}
