<h1 mat-dialog-title>Payment Options</h1>
<div mat-dialog-content>
  <form [formGroup]="paymentForm" class="dialog-content">

    <!-- Cash Payment -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Cash Payment</mat-label>
      <input matInput formControlName="cashPaymentAmount" type="number" min="0" placeholder="Enter cash payment">
    </mat-form-field>

    <!-- Transfer / Provider Payment -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Provider</mat-label>
      <mat-select formControlName="provider">
        <mat-option *ngFor="let p of providers" [value]="p">{{ p }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Transfer Amount</mat-label>
      <input matInput formControlName="transferAmount" type="number" min="0" placeholder="Enter amount for selected provider">
    </mat-form-field>

    <!-- Total Payment -->
    <mat-form-field class="total" appearance="outline">
      <mat-label>Total Payment</mat-label>
      <input matInput formControlName="totalPayment" type="number" placeholder="Total Payment" readonly [ngStyle]="{ 'color': 'black' }">
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="cancel">
    <span>Cancel</span>
    <mat-icon>close</mat-icon>
  </button>
  <button (click)="closeModal()" mat-button class="confirm">
    <span>Submit</span>
    <mat-icon>check</mat-icon>
  </button>
</div>
