<div class="container">
  <h2>Select how to create the menu item</h2>
  <div class="action-buttons">
    <button mat-flat-button class="from-stock-btn" (click)="selectFromStock()" [disabled]="!selectedStockItem">Select from Stock</button>
    <button mat-flat-button class="new-item-btn" (click)="createNewItem()">Create New Menu Item</button>
  </div>
  @if (stockItems) {
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Select Stock Item</mat-label>
      <mat-select [(value)]="selectedStockItem">
        @for (stock of stockItems; track stock) {
          <mat-option [value]="stock">
            {{ stock.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
