.container {
  padding: 20px;
  min-height: 100vh;
  background-color: rgb(218, 236, 214);
}

.change-password-form {
  width: 80%;
  margin: 5rem auto;
}

.change-password-fields {
  display: flex;
  flex-direction: column;
}

.login-form {
  padding-top: 5rem;
  margin: 0rem auto;
  max-width: 450px;
}

.login-card{
  background-color: #e6f5e9; /* Light green background for the card */
  border-radius: 10px;
  box-shadow: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card {
  background-color: #e6f5e9; /* Light green background for the card */
  border-radius: 10px;
  box-shadow: none;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #4caf50;
}

.submit {
  margin-left: 5px;
  background-color: #ffffff;
  color: #4caf50;
  border: 2px solid #4caf50;
}

.submit:hover {
  background-color: #f0f0f0;
}

mat-icon{
  color: #45a049;
}

