<div class="container">
  <form class="change-password-form" [formGroup]="changePasswordForm">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Change Password Form</mat-card-title>
      </mat-card-header>
      <mat-card-content class="change-password-fields">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            id="email"
            type="email"
            formControlName="email"
            matInput
            />
            @if (
              changePasswordForm.get('email')?.hasError('required')
              ) {
              <mat-error
                >
                Email is required
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Current Password</mat-label>
            <input
              id="currentPassword"
              [type]="hideCurrentPassword ? 'password' : 'text'"
              formControlName="currentPassword"
              matInput
              />
              <button
                mat-icon-button
                matSuffix
                (click)="toggleVisibility('currentPassword')"
                type="button"
                >
                <mat-icon>{{
                  hideCurrentPassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              @if (changePasswordForm.get('currentPassword')?.hasError('required')) {
                <mat-error>
                  Current password is required
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input
                id="newPassword"
                [type]="hideNewPassword ? 'password' : 'text'"
                formControlName="newPassword"
                matInput
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="toggleVisibility('newPassword')"
                  type="button"
                  >
                  <mat-icon>{{
                    hideNewPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                @if (changePasswordForm.get('newPassword')?.hasError('required')) {
                  <mat-error>
                    New password is required
                  </mat-error>
                }
                @if (changePasswordForm.get('newPassword')?.hasError('minlength')) {
                  <mat-error>
                    New password must be at least 8 characters long
                  </mat-error>
                }
                @if (changePasswordForm.get('newPassword')?.hasError('pattern')) {
                  <mat-error>
                    New password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character
                  </mat-error>
                }
                @if (changePasswordForm.get('newPassword')?.hasError('samePassword')) {
                  <mat-error>
                    New password cannot be the same as the current password
                  </mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Confirm New Password</mat-label>
                <input
                  id="confirmNewPassword"
                  [type]="hideConfirmNewPassword ? 'password' : 'text'"
                  formControlName="confirmNewPassword"
                  matInput
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="toggleVisibility('confirmNewPassword')"
                    type="button"
                    >
                    <mat-icon>{{
                      hideConfirmNewPassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  @if (changePasswordForm.get('confirmNewPassword')?.hasError('required')) {
                    <mat-error>
                      Confirm new password is required
                    </mat-error>
                  }
                  @if (changePasswordForm.get('confirmNewPassword')?.hasError('passwordMismatch')) {
                    <mat-error>
                      Passwords do not match
                    </mat-error>
                  }
                </mat-form-field>
              </mat-card-content>

              <mat-card-actions align="end">
                <button
                  class="submit"
                  mat-flat-button
                  color="primary"
                  [disabled]="!changePasswordForm.valid"
                  (click)="changePassword()"
                  >
                  Change Password
                </button>
              </mat-card-actions>
            </mat-card>
          </form>
        </div>
