<div #card>
  <mat-card
    class="mat-elevation-z0 notification-card"
    [class.unread]="notification.status === 'unread'"
    >
    <mat-card-content>
      <p class="mat-body-2">
        {{ notification.message }}
      </p>
      <div class="actions">
        <p class="mat-caption">
          {{ notification.createdAt | date : "medium" }}
        </p>
        @if (notification.status === 'unread') {
          <button
            mat-flat-button
            color="primary"
            (click)="visible.emit()"
            >
            Mark as read
          </button>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
