
$my-theme-primary: (
  50 : #ebf4ea,
  100 : #cee3cb,
  200 : #b0d1ab,
  300 : #92c18b,
  400 : #7eb474,
  500 : #6ba75d,
  600 : #619854,
  700 : #55874a,
  800 : #4b7641,
  900 : #3a5732,
  A100 : #cee3cb,
  A200 : #b0d1ab,
  A400 : #92c18b,
  A700 : #84aa7e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-theme-secondary: (
  50 : #fff4e6,
  100 : #ffe3bf,
  200 : #ffd198,
  300 : #ffbf72,
  400 : #ffb15b,
  500 : #ffa550,
  600 : #f9994c,
  700 : #f18b47,
  800 : #e97e44,
  900 : #db6a40,
  A100 : #fd9670,
  A200 : #f78c65,
  A400 : #f0490c,
  A700 : #f0490cc0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

