<div class="restaurant-detail-container" *ngIf="restaurant">
 <div>
  <h1 class="name">{{restaurant.name}}</h1>
  <span> <mat-chip>{{restaurant.isActive? 'Active' : 'Inactive'}}</mat-chip></span>

 </div>
  <div class="users-list-container">
    <div class="header">
      <h2>Restaurant Staff</h2>
      <button (click)="openAddStaffDialog()" class="add-btn" mat-flat-button>
        <mat-icon>add</mat-icon>
        <span>Add Staff</span>
      </button>
    </div>

    <table mat-table [dataSource]="restaurant?.users!" class="mat-elevation-z8">
      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.firstName }} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.lastName }} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user"> {{ user.role.name }} </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
