<h1 mat-dialog-title>Set Tip and Discount</h1>

<div mat-dialog-content>
  <div class="dialog-content">

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Tip Percentage (%)</mat-label>
      <input matInput type="number" [(ngModel)]="tipValue" min="0" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Select Discount</mat-label>
      <mat-select [(ngModel)]="discount">
        @for (discountOption of discounts; track discountOption) {
          <mat-option [value]="discountOption">
            {{ discountOption.name }} ({{ discountOption.percentage }}%)
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button class="cancel" (click)="onCancel()"><span>Cancel</span> <mat-icon>close</mat-icon> </button>
  <button mat-button class="confirm" color="primary" (click)="onConfirm()"><span>Confirm</span> <mat-icon>check</mat-icon> </button>
</div>
