<div class="flex justify-between items-center flex-wrap">
  <h4 class="text-center">Notifications</h4>
  <button
  class="!p-2"
    mat-raised-button
    color="accent"
    (click)="markAllNotificationAsRead()"
    [disabled]="(unreadNotifications$ | async) == 0"
  >
    Mark all as read
  </button>
</div>
<div class="notifications">

  <ng-container *ngFor="let notfication of (notifications$ | async)">
    <app-notification-card
      [notification]="notfication"
      (visible)="markNotificationAsRead(notfication)"
    ></app-notification-card>
  </ng-container>
</div>
