<div class="min-h-screen bg-gray-100 p-6">
  <div class="mx-auto mb-8">
    <h1 class="text-3xl font-bold text-gray-900 md:text-4xl">Order History</h1>
    <p class="mt-2 text-gray-600">Manage your order</p>
  </div>

  <div class="bg-white rounded-xl p-6 shadow overflow-x-auto">
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="pageSize"
      showFirstLastButtons
      (page)="pageChanged($event)"
      class="mb-4 flex justify-end"
    ></mat-paginator>

    <table
      mat-table
      [dataSource]="orders"
      matSort
      class="min-w-full table-auto border-collapse table-fixed"
    >
      <!-- Table Number -->
      <ng-container matColumnDef="tableNumber">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-left font-semibold text-gray-800"
        >
          Table
        </th>
        <td
          mat-cell
          *matCellDef="let order"
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-gray-700"
        >
          {{ order?.table?.number }}
        </td>
      </ng-container>

      <!-- Items -->
      <ng-container matColumnDef="items">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-left font-semibold text-gray-800"
        >
          Items
        </th>
        <td
          mat-cell
          *matCellDef="let order"
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-gray-700"
        >
          <div *ngFor="let item of order.items" class="whitespace-nowrap">
            {{ item.menuItem.name }} ({{ item.quantity }})
          </div>
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-left font-semibold text-gray-800"
        >
          Status
        </th>
        <td
          mat-cell
          *matCellDef="let order"
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-gray-700 capitalize"
        >
          {{ order.status }}
        </td>
      </ng-container>

      <!-- Ordered At -->
      <ng-container matColumnDef="createdAt">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-left font-semibold text-gray-800"
        >
          Ordered At
        </th>
        <td
          mat-cell
          *matCellDef="let order"
          class="w-1/4 py-2 px-4 border-b border-gray-200 text-gray-700"
        >
          {{ order.createdAt | date : "medium" }}
        </td>
      </ng-container>

      <!-- Header and Rows -->
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="bg-gray-50"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="hover:bg-gray-100 cursor-pointer"
        (click)="navigateToDetail(row.id)"
      ></tr>
    </table>
  </div>
</div>
