// .no-scrollbar {
//   scrollbar-width: none; /* Firefox */
//   -ms-overflow-style: none; /* IE 10+ */
// }

// .no-scrollbar::-webkit-scrollbar {
//   display: none; /* Chrome, Safari, Opera */
// }
::ng-deep .no-scrollbar::-webkit-scrollbar {
  display: none;
}
::ng-deep .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
