<h2 mat-dialog-title>Add New Table</h2>

<form [formGroup]="addTableForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Table Number</mat-label>
      <input matInput formControlName="number" placeholder="Enter Table number">
      <mat-error *ngIf="addTableForm.get('number')?.hasError('required')">
        Number is required
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="addTableForm.invalid">
      Add
    </button>
  </mat-dialog-actions>
</form>
