.container {
  max-width: 100% !important;
}

.left-menu {
  width: 240px;
  border-right: none;
  border-radius: 0 10px 10px 0;
  padding: 0 16px;
  text-align: center;
  position: fixed;
  z-index: 1100;
  // max-height: calc(100vh - 130px);
}

.sidenav-container {
  min-height: 100vh;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 100;
  padding: 1.5rem;
}

.h1 {
  font-weight: lighter;
}

.logo {
  width: 150px;
}

// Responsive behavior
@media (max-width: 768px) {
  .left-menu {
    position: fixed;
    top: 74px;
    left: 0;
    height: 100%;
    z-index: 1000;
  }

  .sidenav-container {
    margin-left: 0;
  }
}

.logo {
  width: 150px;
}
