<mat-sidenav-container class="!bg-transparent">
  <mat-sidenav
    [mode]=" isMobile ? 'over' : 'side'"
    [opened]="isOpen"
    class="left-menu !bg-gray-100 overflow-hidden mat-elevation-z1"
  >
    <img
      class="ml-2 w-[60px] rounded-md shadow-md h-[60px] mt-4"
      [src]="getLogo()"
      alt="Digital Dine Logo"
      (error)="onLogoError($event)"
    />
    <hr
      class="my-4 border-amber-500 py-2 w-[50%] bg-amber-500 mb-8 rounded-full"
    />
    <div *ngFor="let link of navLinks">
      <a
        class="menu-button"
        mat-button
        [routerLink]="link.link"
        routerLinkActive="active-link"
        #rla="routerLinkActive"
        [ngStyle]="
          rla.isActive
            ? { 'background-color': 'rgb(255, 152, 0)', color: 'white' }
            : {}
        "
      >
        <mat-icon>{{ link.icon }}</mat-icon>
        <span>{{ link.label }}</span>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content !bg-transparent overflow-y-auto h-[calc(100vh-75px)] mat-elevation-z1">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
