.container {
  min-height: 100vh;
  padding: 2rem;
  background-color: rgb(218, 236, 214);
}


.menu-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
}

.add-btn {
  background-color: rgb(99, 150, 111);
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Adjusted minmax */
  // gap: 16px; /* Reduced the gap between cards */
  justify-items: center;
}

.card-container {
  width: 100%;
  max-width: 300px; /* Reduced max-width to fit four cards */
  margin-bottom: 1rem; /* Keep margin 0 to ensure even spacing */
}

.price {
  color: orange;
}


.action-btn {
  background-color: rgb(99, 150, 111);
  color: white;
  margin-right: 8px;
}

.card-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

mat-card-title{
  text-transform: capitalize;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: 1fr; /* Single column layout */
  }
}
@media (max-width: 425px) {
  .menu-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (min-width: 1025px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
  }
}
