<div class="container">
  <div class="menu-section">
    <div class="menu-title">
      <h2>Discover Our Menus</h2>
      <p class="menu-sub-title">Indulge in a curated selection of culinary delights, crafted to satisfy every palate. Whether you're in the mood for a comforting classic or an adventurous new flavor, our menu has something special for everyone. Explore our offerings and savor the best of what we have to offer.</p>
    </div>
  </div>

  <div class="menu-grid">
    <mat-card class="card-container mat-elevation-z16" *ngFor="let item of menuItems">
      <img mat-card-image [src]="item.imageUrl" alt="Photo of a menu item">
      <mat-card-header class="card-title">
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        <h2 class="price">{{ item.price | currency }}</h2>
      </mat-card-header>
      <mat-card-content>
        <!-- Add any additional content here -->
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="order-btn" mat-flat-button color="primary">Order</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
