.container {
  min-height: 100vh;
  padding: 2rem;
  background-color: rgb(218 236 214);
}

.menu-title {
  text-align: center;
  margin-bottom: 2rem;
}

.category-title{
  text-align: center;
}

.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-grid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjusted minmax */
  // gap: 16px; /* Reduced the gap between cards */
  justify-items: center;
}

.card-container {
  // width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  background-color: #e6f5e9;
  width: 400px; /* Reduced max-width to fit four cards */
  margin-bottom: 1rem; /* Keep margin 0 to ensure even spacing */
}

.view-orders-btn{
  color: #ffffff;
  background-color: #4caf50;
  border: 2px solid #4caf50;
}

img{
  width: 35%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.price {
  color: orange;
}


.menu-sub-title{
  width: 60%;
  padding-left: 20%;
}

@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
  }
  .menu-sub-title{
    width: 80%;
    padding-left: 10%;
  }
}

@media (width: 768px) {
  .card-container {
    width: 100%;
    max-width: 400px; /* Reduced max-width to fit four cards */
    margin-bottom: 1rem; /* Keep margin 0 to ensure even spacing */
  }
}

@media (max-width: 430px) {
  .card-container {
    width: 100%;
    max-width: 90vw; /* Reduced max-width to fit four cards */
    margin-bottom: 1rem; /* Keep margin 0 to ensure even spacing */
  }
}

@media (max-width: 350px) {
  .card-container {
    width: 100%;
    max-width: 250px; /* Reduced max-width to fit four cards */
    margin-bottom: 1rem; /* Keep margin 0 to ensure even spacing */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr); /* Three columns for medium screens */
  }
  .menu-sub-title{
    width: 80%;
    padding-left: 10%;
  }
}

@media (min-width: 1025px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr); /* Four columns for larger screens */
  }
  .menu-sub-title{
    width: 80%;
    padding-left: 10%;
  }
}

.order-btn {
  background-color: #FF9800;
  color: white;
}

.card-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  // align-items: center;
}

.card-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

mat-card-title{
  text-transform: capitalize;
}

.restaurant-name{
  text-align: center;
  text-transform: capitalize;
}

.cart-container {
  position: fixed;
  top: 5rem;
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.cart-icon {
  font-size: 24px;
  color: #3f51b5; // Use your theme color
}

.cart-count {
  background-color: orange; // Use your theme color
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 8px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

mat-card-subtitle{
  text-align: center;
}
