<div class="container">
  <h1>Active Orders</h1>

  <div *ngFor="let order of orders">
    <mat-card class="order-card">
      <mat-card-header>
        <mat-card-title
          >Order for Table - {{ order.table.number }}</mat-card-title
        >
      </mat-card-header>

      <mat-card-content>
        <div>
          <p *appHasRole="[hasManagerRole()]">
            Status:
            <strong class="status-chip" [ngClass]="order?.status">{{
              getOrderStatusName(order.status)
            }}</strong>
          </p>
          <ng-container
            *appHasRole="[
              hasBartenderRole(),
              hasWaiterRole(),
              hasManagerRole()
            ]"
          >
            <p *ngIf="order.barOrders && order.barOrders.length > 0">
              Bar order status:
              <strong
                class="status-chip"
                [ngClass]="order.barOrders[0].status"
                >{{ getOrderStatusName(order.barOrders[0].status) }}</strong
              >
            </p>
          </ng-container>
          <ng-container
            *appHasRole="[hasKitchenRole(), hasWaiterRole(), hasManagerRole()]"
          >
            <p *ngIf="order.kitchenOrders && order.kitchenOrders.length > 0">
              Kitchen order status:
              <strong
                class="status-chip"
                [ngClass]="order.kitchenOrders[0].status"
                >{{ getOrderStatusName(order.kitchenOrders[0].status) }}</strong
              >
            </p>
          </ng-container>
        </div>

        <mat-list-item *ngFor="let item of order.items" class="order">
          <mat-icon mat-list-icon>fastfood</mat-icon>
          <h4 mat-line>{{ item.menuItem.name }}</h4>
          <p mat-line>Quantity: {{ item.quantity }}</p>
          <p mat-line>
            Special Instructions: {{ item.specialInstructions || "None" }}
          </p>
        </mat-list-item>
      </mat-card-content>

      <mat-card-actions>
        <ng-container *appHasRole="[hasBartenderRole(), hasKitchenRole()]">
          <button
            *ngIf="order.status === 'PENDING'"
            mat-button
            color="primary"
            (click)="changeStatus(order.id, 'IN_PROGRESS')"
            class="status"
          >
            Start Preparation
          </button>
          <button
          *ngIf="order.status === 'IN_PROGRESS'"
            mat-button
            color="primary"
            (click)="changeStatus(order.id, 'READY')"
            class="status"
          >
            Mark as Ready
          </button></ng-container
        >
        <ng-container *appHasRole="[hasWaiterRole(), hasManagerRole()]">
          <button
            *ngIf="canChangeStatus(order.status, 'SERVED')"
            mat-button
            color="primary"
            (click)="changeStatus(order.id, 'SERVED')"
            class="status"
          >
            Mark as Served
          </button>
          <button
            *ngIf="
              order.kitchenOrders &&
              order.kitchenOrders.length > 0 &&
              order.kitchenOrders[0].status === 'READY'
            "
            mat-button
            color="primary"
            (click)="changeSubOrderStatus(order.id, 'SERVED', 'Kitchen')"
            mat-button
            color="primary"
            class="status"
          >
            Mark Kitchen Order as Served
          </button>
          <button
            *ngIf="
              order.barOrders &&
              order.barOrders.length > 0 &&
              order.barOrders[0].status === 'READY'
            "
            mat-button
            color="primary"
            (click)="changeSubOrderStatus(order.id, 'SERVED', 'Bar')"
            class="status"
          >
            Mark Bar Order as Served
          </button>

          <button
            *ngIf="
              order.status === 'IN_PROGRESS' ||
              order.status == 'PENDING' ||
              order.status == 'READY'
            "
            mat-button
            color="warn"
            (click)="changeStatus(order.id, 'CANCELLED')"
            class="cancel"
          >
            Cancel Order
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
