<div class="container" *appHasRole="[hasManagerRole(), hasKitchenRole(), hasWaiterRole(), hasBartenderRole()]">
  <h1>Active Orders</h1>
  <div class="card-grid">

    @for (order of orders; track order) {
      <div>
        <mat-card class="order-card">
          <mat-card-header>
            <mat-card-title
              >Order for Table - {{ order.table.number }}</mat-card-title
              >
            </mat-card-header>
            <mat-card-content>
              <div>
                <p *appHasRole="[hasManagerRole()]">
                  Status:
                  <strong class="status-chip" [ngClass]="order?.status">{{
                    getOrderStatusName(order.status)
                  }}</strong>
                </p>
                <ng-container
            *appHasRole="[
              hasBartenderRole(),
              hasWaiterRole(),
              hasManagerRole()
            ]"
                  >
                  @if (order.barOrders && order.barOrders.length > 0) {
                    <p>
                      Bar order status:
                      <strong
                        class="status-chip"
                        [ngClass]="order.barOrders[0].status"
                        >{{ getOrderStatusName(order.barOrders[0].status) }}</strong
                        >
                      </p>
                    }
                  </ng-container>
                  <ng-container
                    *appHasRole="[hasKitchenRole(), hasWaiterRole(), hasManagerRole()]"
                    >
                    @if (order.kitchenOrders && order.kitchenOrders.length > 0) {
                      <p>
                        Kitchen order status:
                        <strong
                          class="status-chip"
                          [ngClass]="order.kitchenOrders[0].status"
                          >{{ getOrderStatusName(order.kitchenOrders[0].status) }}</strong
                          >
                        </p>
                      }
                    </ng-container>
                  </div>
                  @for (item of order.items; track item) {
                    <mat-list-item class="order">
                      <mat-icon mat-list-icon>fastfood</mat-icon>
                      <h4 mat-line>{{ item.menuItem.name }}</h4>
                      <p mat-line>Quantity: {{ item.quantity }}</p>
                      <p mat-line>
                        Special Instructions: {{ item.specialInstructions || "None" }}
                      </p>
                    </mat-list-item>
                  }
                </mat-card-content>
                <mat-card-actions class="btns">
                  <ng-container *appHasRole="[hasBartenderRole(), hasKitchenRole()]">
                    @if (order.status === 'PENDING') {
                      <button
                        mat-button
                        color="primary"
                        (click)="changeStatus(order.id, 'IN_PROGRESS')"
                        class="status"
                        >
                        Start Preparation
                      </button>
                    }
                    @if (order.status === 'IN_PROGRESS') {
                      <button
                        mat-button
                        color="primary"
                        (click)="changeStatus(order.id, 'READY')"
                        class="status"
                        >
                        Mark as Ready
                      </button>
                      }</ng-container
                      >
                      <ng-container *appHasRole="[hasWaiterRole(), hasManagerRole()]">
                        @if (canChangeStatus(order.status, 'SERVED')) {
                          <button
                            mat-button
                            color="primary"
                            (click)="changeStatus(order.id, 'SERVED')"
                            class="status"
                            >
                            Mark as Served
                          </button>
                        }
                        @if (
                          order.kitchenOrders &&
                          order.kitchenOrders.length > 0 &&
                          order.kitchenOrders[0].status === 'READY'
                          ) {
                          <button
                            mat-button
                            color="primary"
                            (click)="changeSubOrderStatus(order.id, 'SERVED', 'Kitchen')"
                            mat-button
                            color="primary"
                            class="status"
                            >
                            Mark Kitchen Order as Served
                          </button>
                        }
                        @if (
                          order.barOrders &&
                          order.barOrders.length > 0 &&
                          order.barOrders[0].status === 'READY'
                          ) {
                          <button
                            mat-button
                            color="primary"
                            (click)="changeSubOrderStatus(order.id, 'SERVED', 'Bar')"
                            class="status"
                            >
                            Mark Bar Order as Served
                          </button>
                        }
                        @if (
                          order.status === 'IN_PROGRESS' ||
                          order.status == 'PENDING' ||
                          order.status == 'READY'
                          ) {
                          <button
                            mat-button
                            color="warn"
                            (click)="changeStatus(order.id, 'CANCELLED')"
                            class="cancel"
                            >
                            Cancel Order
                          </button>
                        }
                      </ng-container>
                    </mat-card-actions>
                  </mat-card>
                </div>
              }
            </div>
          </div>
