@use '@angular/material' as mat;
@use '../../assets/Theme/theme' as theme;

.outlet-container{
  background-color: mat.get-color-from-palette(theme.$my-theme-primary, 50);
}

.example-spacer {
  flex: 1 1 auto;
}

.progress-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.notification-drawer {
  width: 480px;
  max-width: 100%;
  padding: 1em;
}

.mat-drawer-container {
  margin-top: 75px; /* Ensure content starts below the fixed toolbar */
}

.account-icon {
  color: black;
}
.toolbar-menu{
  background-color: transparent;
}

