.toolbar-menu {
  display: flex; /* Change from grid to flex for better control */
  justify-content: space-between; /* Space out the content */
  align-items: center; /* Vertically center items */
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(218, 236, 214);
  height: 75px; /* Define the height of the toolbar */
  padding: 0 16px; /* Add some padding */
}

.toolbar-menu.full-width {
  left: 0;
  right: 0;
  width: 100%; /* Make the toolbar span the full width */
}

.toolbar-menu.offset {
  left: 240px; /* Offset by the sidebar width */
  right: 0;
}

.right-menu {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Vertically align items */
  gap: 16px; /* Add space between items */
}

.progress-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.notification-drawer {
  width: 480px;
  max-width: 100%;
  padding: 1em;
}

.mat-drawer-container {
  margin-top: 75px; /* Ensure content starts below the fixed toolbar */
}

.account-icon {
  color: black;
}
