<h2 mat-dialog-title>Add Menu Form</h2>
<mat-dialog-content class="form-container">
    <p>select menu Option</p>
    <mat-form-field appearance="outline">
        <mat-label>Select menu Item</mat-label>
        <mat-select (selectionChange)="onMenuTypeChange($event)">
              <mat-option value="menuOnly" > Menu Item only</mat-option>
              <mat-option value="menuWithStock" > Menu Item with stock</mat-option>
          </mat-select>
      </mat-form-field>
    <form [formGroup]="addMenuForm" class="form-fields" >
        <mat-form-field appearance="outline">
            <mat-label>Item Name</mat-label>
            <input id="name" formControlName="name" matInput />
            <mat-error *ngIf="addMenuForm.get('name')?.hasError('required')"
              >Item name is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Item category</mat-label>
            <mat-select formControlName="category" name="food">
                @for (item of categories; track item) {
                  <mat-option [value]="item.id">{{item.name}}</mat-option>
                }
              </mat-select>
            <mat-error *ngIf="addMenuForm.get('category')?.hasError('required')"
              >Item category is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Item Price</mat-label>
            <input id="price" formControlName="price" matInput />
            <mat-error *ngIf="addMenuForm.get('price')?.hasError('required')"
              >Item price is required</mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="menuType == 'menuWithStock'" appearance="outline">
            <mat-label>Item quanitity</mat-label>
            <input id="quantity" formControlName="quantity" matInput />
            <mat-error *ngIf="addMenuForm.get('quantity')?.hasError('required')"
              >Quantity is required</mat-error>
          </mat-form-field>
           <mat-form-field *ngIf="menuType == 'menuOnly'" appearance = "outline">
    <mat-label>Ingredients</mat-label>
    <textarea matInput placeholder="Add ingredients here."></textarea>
  </mat-form-field>
    </form>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button >No Thanks</button>
  <button mat-flat-button (click)="submitForm()" color="primary" cdkFocusInitial>Ok</button>
</mat-dialog-actions>