.form-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5%;
}
.form-fields{
    display:flex;
    flex-direction: column;
    justify-content:stretch;
    width: 90%;
}

.file-upload {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    mat-label {
      margin-bottom: 8px;
    }

    input[type="file"] {
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 4px;
    }

    mat-error {
      color: #f44336;
    }
  }

  .cancel{
    color: white;
    background-color: black;
  }

  .confirm{
    color: white;
    background-color: green;
  }

  .error{
    font-size: 12px;
  }
