<h2 mat-dialog-title>Add Menu Form</h2>
<form [formGroup]="addMenuForm" class="form-fields">
  <div mat-dialog-content class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Item Name</mat-label>
      <input id="name" formControlName="name" matInput />
      <mat-error *ngIf="addMenuForm.get('name')?.hasError('required')">
        Item name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Item Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let item of categories" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addMenuForm.get('category')?.hasError('required')">
        Item category is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Item Price</mat-label>
      <input id="price" formControlName="price" matInput />
      <mat-error *ngIf="addMenuForm.get('price')?.hasError('required')">
        Item price is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ingredients or Description</mat-label>
      <textarea
        formControlName="ingredients"
        matInput
        placeholder="Add ingredients here."
      ></textarea>
    </mat-form-field>

    <div class="file-upload">
      <mat-label>Image</mat-label>
      <input type="file" (change)="onFileChange($event)" required />
      <mat-error *ngIf="!imageFile">Image is required</mat-error>
    </div>

    <!-- Radio button group for Kitchen or Bar item -->
    <div class="item-type">
      <mat-label>Item Type</mat-label>
      <mat-radio-group formControlName="itemType">
        <mat-radio-button value="KITCHEN">Kitchen Item</mat-radio-button>
        <mat-radio-button value="BAR">Bar Item</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="addMenuForm.get('itemType')?.hasError('required')">
        Please select the item type.
      </mat-error>
    </div>
  </div>
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    (click)="submitForm()"
    color="primary"
    cdkFocusInitial
  >
    Save
  </button>
</mat-dialog-actions>
